In [5]:
import pandas as pd
import numpy as np

NonResidentials = pd.read_csv('2016-building-energy-benchmarking.csv', sep=",",decimal='.')
NonResidentials.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,49526664.0,14938.00000,1493800.0,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2768924.0,18112.13086,1811213.0,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5368607.0,88039.98438,8803998.0,False,NaN,Compliant,NaN,505.01,2.88

In [8]:
NonResidentials = NonResidentials[NonResidentials['BuildingType'] == 'NonResidential']
NonResidentials.describe()

,OSEBuildingID,DataYear,ZipCode,CouncilDistrictCode,Latitude,Longitude,YearBuilt,NumberofBuildings,NumberofFloors,PropertyGFATotal,...,SiteEnergyUse(kBtu),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),Comments,TotalGHGEmissions,GHGEmissionsIntensity
count,1460.000000,1460.0,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1458.000000,1460.000000,1.460000e+03,...,1.458000e+03,1.457000e+03,1.458000e+03,1.458000e+03,1.458000e+03,1.458000e+03,1.458000e+03,0.0,1458.000000,1458.000000
mean,16105.348630,2016.0,98116.597260,4.423288,47.616115,-122.333457,1960.843836,1.034294,4.370548,1.130373e+05,...,7.743262e+06,7.842724e+06,4.998068e+05,1.616276e+06,5.514732e+06,1.681726e+04,1.681726e+06,NaN,166.340947,1.543018
std,13335.196101,0.0,18.672664,2.190766,0.046616,0.023011,32.966330,0.540904,6.763737,1.923444e+05,...,1.909175e+07,1.925848e+07,5.448602e+06,3.895732e+06,1.329224e+07,5.646165e+04,5.646165e+06,NaN,586.106337,2.154939
min,1.000000,2016.0,98006.000000,1.000000,47.509590,-122.411820,1900.000000,0.000000,0.000000,1.630000e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,-3.382680e+04,-1.154170e+05,0.000000e+00,0.000000e+00,NaN,-0.800000,-0.020000
25%,609.750000,2016.0,98104.000000,2.000000,47.587855,-122.342335,1929.000000,1.000000,1.000000,2.916050e+04,...,1.201677e+06,1.262256e+06,0.000000e+00,2.063970e+05,7.042265e+05,0.000000e+00,0.000000e+00,NaN,18.912500,0.330000
50%,21140.500000,2016.0,98109.000000,4.000000,47.612420,-122.333195,1965.000000,1.000000,3.000000,4.800350e+04,...,2.598999e+06,2.737986e+06,0.000000e+00,4.862104e+05,1.658950e+06,4.187330e+03,4.187330e+05,NaN,47.055000,0.800000
75%,24567.000000,2016.0,98125.000000,7.000000,47.648868,-122.322845,1988.000000,1.000000,5.000000,1.041622e+05,...,6.950048e+06,7.070998e+06,0.000000e+00,1.487880e+06,5.076646e+06,1.380787e+04,1.380787e+06,NaN,133.560000,1.870000
max,50094.000000,2016.0,98199.000000,7.000000,47.733870,-122.261800,2015.000000,9.000000,99.000000,1.952220e+06,...,2.930908e+08,2.966717e+08,1.349435e+08,8.046087e+07,2.745325e+08,1.381912e+06,1.381912e+08,NaN,12307.160000,25.710000

In [9]:
NonResidentials.columns.unique()

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'Address', 'City', 'State', 'ZipCode',
       'TaxParcelIdentificationNumber', 'CouncilDistrictCode', 'Neighborhood',
       'Latitude', 'Longitude', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'DefaultData', 'Comments', 'ComplianceStatus',
       'Outlier', 'TotalGHGEmissions', 'GHGEmissionsIntensity'],
      dtype='object')